<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qingwenwei.eslpodcaster">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">

        <!-- android:theme="@style/AppTheme"> -->

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".activity.DeprecatedAudioPlayerActivity"></activity>-->
        <activity
            android:name=".activity.DeprecatedAudioPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>


    </application>

</manifest>
